<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>s3 upload test</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
		
		<script type="text/javascript">
			$(document).ready(
				function(){
					$("#upload_form").submit(
						function() {
							$("#uploaded_filename").val($("#uploaded_file").val());
						}
					);
				}
			);
		</script>
	</head>
	<body>
		<form action="/s3test" method="post" enctype="multipart/form-data" id="upload_form">
			<input type="file" name="uploaded_file" id="uploaded_file">
			<input type="hidden" name="uploaded_filename" id="uploaded_filename" />
			<input type="submit">
		</form>
		
		{% if bucket_entries %}
		<ul>
			{% for b in bucket_entries %}
			<li>
				<a href="{{ bucket_base_url }}/{{ b.key }}">{{ b.key }}</a>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</body>
</html>