{% extends "base.html" %}

{% block head_content %}

		<script type="text/javascript" src="/static/rank/js/rank.js"></script>
		<script type="text/javascript"></script>
{% endblock %}

{% block body_content %}
		<div class="container_16">
			<div class="grid_16">
				<form id="search_form" action="/rank/s" method="get">
					<label for="query">
						Search: <input type="text" name="q" id="query" size="80" maxlength="80" >
					</label>
					
					<input type="submit" name="action" id="action" value="Rank 'em" >
				</form>
				
				<img src="/static/rank/img/ajax-loader.gif" id="ajax_loader" alt="Loading results.">
			</div>
			<div class="clear"></div>
			
			<div class="grid_16">
				<div id="results_container">
					<h2>Results</h2>
					

				</div>
			</div>
			<div class="clear"></div>
		</div>
{% endblock %}