{% extends "base.html" %}

{% block page_content %}
		<div class="container_12">
			<div class="grid_1">&nbsp;</div>
			<div class="grid_5">
				<p>
					Hello and welcome to Kim's Kitchen.  I make delicious home-made
					mango pies.
				</p>
				<p>
					For orders over $50, we offer free delivery.
				</p>
			</div>
			
			<div class="grid_6">
				<form>
					<ul>
						<li>
							<label for="name_field">Name:</label>
							<input type="text" name="name_field" id="name_field">
						</li>
						<li>
							<label for="phone_field">Phone:</label>
							<input type="text" name="phone_field" id="phone_field">
						</li>
						<li>
							<label for="email_field">Email:</label>
							<input type="text" name="email_field" id="email_field">
						</li>
						<li>
							<input type="submit" name="action_button" 
								id="action_button" value="Send">
						</li>
					</ul>
				</form>
			</div>
			
			<div class="clear"></div>
		</div>
{% endblock %}