<!DOCTYPE HTML>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Michael Shafrir</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Michael Shafrir">
		<meta name="keywords" content="Michael Shafrir">

		<link rel="stylesheet" type="text/css" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" />

		<link rel="stylesheet" type="text/css" href="/static/css/base.css">

		<script src="/static/js/analytics.js"></script>
	</head>

	<body>
		{% block page_content %}
		{% endblock %}
	</body>
</html>