<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>michael shafrir</title>
		
		<meta name="description" content="Michael Shafrir">
		<meta name="keywords" content="Michael Shafrir">
		
		{% comment %}
		<!--
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
		-->
		
		<script type="text/javascript"
				src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/ms.js"></script>
		{% endcomment %}
		
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/static/css/960.css" >
		<link rel="stylesheet" type="text/css" href="/static/css/reset.css" >
		<link rel="stylesheet" type="text/css" href="/static/css/text.css" >
			
		<link rel="stylesheet" type="text/css" href="/static/css/base.css">
		
		<meta name="verify-v1" content="SCTZcnKSIBLI//uNWNsFuEZDe7E8YMpI0/KtDor3O6o=" >
	</head>
    
	<body>
		{% block page_content %}
		{% endblock %}
		
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-8363178-7");
		pageTracker._trackPageview();
		} catch(err) {}
		</script>
	</body>
</html>