{% extends "base.html" %}

{% block page_content %}
		<div class="container_12">
			<div class="prefix_1 grid_5 suffix_6">
				<p>
					Hey, I'm <a href="/" id="me">Michael Shafrir</a>. 
					I specialize in web and mobile apps
					for <a href="http://www.millennialmedia.com">work</a>,
					friends - <a href="http://www.spilledmilkcatering.com">caterers</a>,
					<a href="http://elenisvillage.com">bed &amp; breakfasts</a>,
					and <a href="http://www.voicedbybill.com">voice talents</a>, for example - 
					and fun - <a href="/portal">portal implementation survey</a> and
					<a href="http://www.junkscast.com">Junkscast</a>.
					I'm also into <a href="http://www.flickr.com/photos/onebelo/sets/"
					title="but who isn't these days?">photography</a>.
					You can get in touch with me through <a href="mailto:mshafrir@gmail.com">e-mail</a>,
					<a href="http://www.linkedin.com/in/mshafrir">LinkedIn</a>,
					or <a href="http://www.facebook.com/michael.shafrir">Facebook</a>, or
					<a href="http://twitter.com/michaelshafrir">Twitter</a>.
					You can find some of my work on <a href="http://github.com/mshafrir/">GitHub</a>.
					<span id="more_soon">More to come.</span>
				</p>
			</div>
			
			<div class="clear"></div>
		</div>
{% endblock %}