{% extends "base.html" %}

{% block head_css %}
		<link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
{% endblock %}

{% block content %}
					<script type="text/javascript">
						{% if thumbnail_photo_url %}
						img_selector['smallest'] = "{{ thumbnail_photo_url }}";
						{% endif %}
						
						{% if small_photo_url %}
						img_selector['small'] = "{{ small_photo_url }}";
						{% endif %}
						
						{% if normal_photo_url %}
						img_selector['normal'] = "{{ normal_photo_url }}";
						{% endif %}
					</script>
					
					<form action="/" method="get" id="lookup_form">
						
						<label id="url_label" for="url">Facebook Image URL</label>
						<div>
							<input type="text" name="url" id="url"
									value="{{ img_url }}"
									maxlength="200" />
							<input type="submit" value="Lookup" id="lookup_submit" />
							<input type="hidden" name="lookup" value="True" />
						</div>
						
						<p id="url_example">
							<span>(e.g. http://profile.ak.facebook.com/v225/1240/77/s4_1676.jpg)</span>
						</p>
						
						{% if error %}
						<p id="error">{{ error }}</p>
						{% endif %}	
					</form>
	
				{% if not error and searched %}
					<div id="results">
						{% if full_name %}
						<h2>{{ full_name }}</h2>
						{% endif %}
						
						{% if photo_album_url %}
						<p><a href="{{ photo_album_url }}">photo album url</a></p>
						{% endif %}
						
						<div id="fb_img_selector_container">
							<span class="label">select image size: </span>
							<ul id="fb_img_selector">
								<!--
								<li>
									<span href="#" id="smallest_size">smallest</span>
								</li>
								-->
								<li>
									<span href="#" id="small_size">small</span>
								</li>
								<li>
									<span href="#" id="normal_size">normal</span>
								</li>
							</ul>
						</div>
						
						<div id="fb_img_container">
							<img id="fb_img" src="{{ small_photo_url }}" />
						</div>
					</div>
				{% endif %}

				{% if facebook_lookups  %}
					<table id="lookup_history">
						<thead>
							<tr>
								<th class="count">#</th>
								<th class="image_url">image url</th>
								<th class="created">created</th>
							</tr>
						</thead>
						<tbody>
						{% for facebook_lookup in facebook_lookups %}
							<tr>
								<td class="count">{{ forloop.counter }}</td>
								<td class="image_url">
									<a href="/?url={{ facebook_lookup.image_url }}">{{ facebook_lookup.image_url }}</a>
								</td>
								<td class="created">
									{{ facebook_lookup.created|format_date }}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p style="margin: 10px auto; width: 720px;">

					{% if is_logged_in %}
						No Facebook image lookups.
					
					{% else %}
						<a href="{{ login_url }}">Log in</a> to view previous Facebook image lookups.
						
					{% endif %}
					
					</p>
				{% endif %}
{% endblock %}