html
{
	background:				#fff
}

body
{
	background:				#fff; /*#141414;*/
	font-family:			"Verdana", sans-serif;
}

#doc
{
	background:				#fff; /*#f7f7f7;*/
}

#hd
{
	background:				#3B5998;
}

#ft
{
	background:				#3B5998;
	color:					#fff;
	padding:				8px;
	font-family:			"Trebuchet MS", "Verdana", sans-serif;
	font-size:				12px;
}

#hd h1
{
	font-size:				20px;
	color:					#fff;
	padding:				8px;
	margin-right:			320px;
	font-family:			"Trebuchet MS", "Verdana", sans-serif;
}

#hd h1 a
{
	color:					#fff;
	text-decoration:		none;
}

#hd #user_action
{
	float:					right;
	width:					300px;
	padding:				12px 10px 0 0;
	text-align:				right;
	color:					#fff;
}

#hd #user_action a
{
	color:					#fff;
}

#content
{
	padding:				8px;
	font-size:				12px;
}

input.numeric
{
	font-family:			"Courier New", monospace;
	width:					40px;
	text-align:				right;
	font-size:				10px;
}

form#lookup_form
{
	display:				block;
	margin:					20px auto;
	border:					1px solid #E2C822;
	padding:				8px;
	background:				#FFF9D7;
	width:					720px;
}

label#url_label
{
	display:				inline-block;
	font-weight:			strong;
	cursor:					pointer;
}

input#url
{
	display:				inline-block;
	font-family:			'Courier New', monospace;
	font-size:				12px;
	width:					640px;
}

p#url_example
{
	font-size:				11px;
	color:					#444;
}

p#error
{
	display:				block;
	margin:					10px 0 0 0;
	padding:				0;
	font-size:				11px;
	color:					#c00;
	font-weight:			bold;
}

input#lookup_submit
{
	display:				inline-block;
	width:					60px;
	/*
	background:				#fbfbfb url('/static/images/submit.png');
	border:					1px solid black;
	background-repeat:		no-repeat;
	background-position:	center right;
	padding:				0 2px;
	*/
}

#results
{
	width:					720px;
	margin:					10px auto;
}

#fb_img_selector_container .label
{
	font-weight:			bold;
}

#fb_img_selector_container ul#fb_img_selector
{
	display:				inline;
	list-type:				none;
}

#fb_img_selector_container ul#fb_img_selector li
{
	display:				inline;
	padding:				0 4px;
}

#fb_img_selector_container ul#fb_img_selector li span
{
	color:					#333;
	text-decoration:		underline;
}

#fb_img_selector_container ul#fb_img_selector li span:hover
{
	cursor:					pointer;
}

#fb_img_container
{
	margin:					8px 0;
}

#fb_img_container #fb_img
{
	border:					2px solid #000;
}

table#lookup_history
{
	border:					1px solid #000;
	table-layout:			fixed;
	border-collapse:		collapse;
	font-size:				11px;
	width:					720px;
	margin:					10px auto;
}

table#lookup_history th, 
table#lookup_history td
{
	padding:				2px;
	border:					1px solid #444;
}

table#lookup_history th.count,
table#lookup_history td.count
{
	width:					20px;	
}

table#lookup_history td.image_url
{
	text-overflow:			ellipsis;
	overflow:				hidden;
	white-space:			nowrap;
}

table#lookup_history th.created,
table#lookup_history td.created
{
	width:					120px;
}